.body {
    margin: 0;
    padding: 0;
}

.main {
    position: relative;
    width: 1440px;
    height: 1024px;

    background: #FFFFFF;
}

.navigation {

    display: flex;
}

.navigation-container,
.container-start {
    padding-top: 24px;
}

.navigation-container a {
    padding-left: 59px;
    text-decoration: none;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    /* identical to box height */


    color: #767676;

}
.container-start a {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    /* identical to box height */
    
    
    color: #767676;
        


}